.btn {
  margin: 10px;
  background-color: $base-color;
  color: white;

  &-logOut {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    background-color: $base-color;
    color: white;
  }
}
