.section {
  margin-right: 5px;
  height: 100vh;
  width: 100%;

  &-border {
    border: 3px solid $base-color;
  }

  &-container {
    display: flex;
    flex-direction: row;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    height: 6rem;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid $base-color
}
}

